section{
    background-color: bisque;
    height: 500px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #252424;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c48585;
  }